<!DOCTYPE html>
<html ng-app="app">
  <head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Service Workers</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css"/>
    <!-- inject:css -->
    <!-- endinject -->
  </head>
  <body>
    <div class="container" ng-controller="AppController as vm">
      <div class="row">
        <img class="img-responsive center-block" src="/images/musicstore.png"/>
      </div>
      <div class="row find-item">
        <div class="form-group form-group-lg">
          <div class="col-sm-10">
            <input class="form-control" ng-model="searchTerm" type="text" id="formGroupInputLarge" placeholder="Search Items">            
          </div>
          <div class="col-sm-2"> 
            <button type="button" ng-click="vm.search(searchTerm)" class="btn btn-primary btn-lg">Search</button>
          </div>
        </div>        
      </div>
      <div class="row">
        <table class="table table-hover"> 
          <thead> 
            <tr> 
              <th>Cover</th> 
              <th>Name</th> 
              <th>Artist</th>
              <th>Price</th> 
            </tr> 
          </thead>

          <tbody ng-repeat="album in vm.albums"> 
            <tr> 
              <td>
                <img ng-src="{{album.artworkUrl60}}"/>
              </td> 
              <td>{{album.collectionName}}</td> 
              <td>{{album.artistName}}</td>
              <td>{{album.collectionPrice}}</td>
            </tr> 
          </tbody> 
        </table>
      </div>      
    </div>

    <script type="text/javascript">
      if ('serviceWorker' in navigator) {  
        navigator.serviceWorker.register('/service-worker.js').then(function() { 
          console.log("Service Worker Registered"); 
        });
      }
    </script>

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <!-- inject:js -->    
    <!-- endinject -->
  </body>
</html>